<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bablic</name>
	<displayName><![CDATA[Bablic Localization]]></displayName>
	<version><![CDATA[1.0.8]]></version>
	<description><![CDATA[Connects your Prestashop to every language instantly]]></description>
	<author><![CDATA[Ishai Jaffe]]></author>
	<tab><![CDATA[i18n_localization]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>